RewriteEngine On
RewriteBase /api/users/

# Route /users/1 to show.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(\d+)$ show.php?id=$1 [L,QSA]

# Route /users/ to index.php
RewriteRule ^$ index.php [L,QSA]
